In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [14]:
df = pd.read_csv("measurements.csv", index_col=["nodes", "edges"])
df

               calls  success
nodes edges
3     2            3     True
      3            4     True
4     3           12     True
      4           14     True
      5            6     True
      6          232    False
5     6            7     True
      7            8     True
      8          487     True
      9         1324     True
      10          12     True
6     7          210    False
      8          536    False
      9          355     True
      10        1967     True
      11        5619     True
      12       50944    False
      13       67044     True
      14      920514    False
      15     3653196    False